.bdy{

 background-image: url("./background.jpg");

 text-align: center;

 padding-top:20px;

 font-family: 'Gloria Hallelujah', cursive;

 color: #FFFFFF;





 }

 p{

	 font-size:50px;

	 text-align:center;

	 font-weight: bold;
	 color:#FFFAFA;

 }

 #nome{

	 margin-top:20px;
	 font-size:15px;
	 font-weight: bold;

 }

 

 #preco{

	margin-top:20px; 
	font-size:15px;
	font-weight: bold;

 }

 

 #bnt{

	 border-radius:10px;

 }

 

 #tabela{

	 float: left;

	 margin-top:50px;

	 margin-left:70px;

	 border-radius:15px;
	 border:
	 

 }

 

 #tabela2{

	 margin: 0 auto;

	 width: 700px;

	 margin-top:200px;

	 border-radius:30px;

	 

 }

 

  th, td{

	 text-align: center;

	 border:0px;



 }
